.App {
  font-size: 62.5%;
  background-color: black;
  color: white;
  font-family: "poppins";



}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("./components/images/lomig-HHpRh6rNQMo-unsplash.jpg");
  background-size: cover;
}


div#root {
  display: flex;
}

div.seperator {
  background: gray;
  height: 0.5px;
  width: 896px;
  margin-left: 5em;
}